MAIL_FROM_ADDRESS=test@example.com
MAIL_TO_ADDRESS=working@system.example.com
# MAIL_TO_ADDRESS=test@example.com
MAIL_SEND_IP=smtp.example.com
MAIL_SEND_PORT=993
MAIL_USERNAME=test
MAIL_PASSWORD="通过myencrypt加密"
AUTH_PASSWORD="通过myencrypt加密"
SECRET_KEY = "默认密钥"